Thumbs.db
*.suo
*.obj
*.scc
*.suo
*.exe
*.pdb
*.7z
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
*.sw?
*.bak
*.DotSettings
*.ncrunchproject
*.ncrunchsolution
*~
[Bb]in
[Db]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
genMarkdown.bat
README.markdown.html
*.vsp
*.BACKUP.*
*.REMOTE.*
*.BASE.*
*.LOCAL.*
*.orig
StyleCop.Cache
*.dbmdl
output/
TestResults/*
