<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ReverseProxiesConfig" type="ReverseProxy.XmlSerializerSectionHandler, ReverseProxy" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


  <ReverseProxiesConfig type="ReverseProxy.ReverseProxiesConfig">
    <Proxies>
      <ReverseProxyConfig>
        <HostPort>8077</HostPort>
        <ForwardTo>
          <PortForwardConfig>
            <ForwardToIp>127.0.0.1</ForwardToIp>
            <ForwardToPort>80</ForwardToPort>
          </PortForwardConfig>
          <PortForwardConfig>
            <ForwardToIp>127.0.0.1</ForwardToIp>
            <ForwardToPort>81</ForwardToPort>
          </PortForwardConfig>
        </ForwardTo>
      </ReverseProxyConfig>

      <ReverseProxyConfig>
        <HostPort>8078</HostPort>
        <ForwardTo>
          <PortForwardConfig>
            <ForwardToIp>127.0.0.1</ForwardToIp>
            <ForwardToPort>80</ForwardToPort>
          </PortForwardConfig>
        </ForwardTo>
      </ReverseProxyConfig>

    </Proxies>
  </ReverseProxiesConfig>

</configuration>